# public/svelte/build
public/web-mobile
public/jsb-link
server/package.json
server/package-lock.json
server/configs.js
server/node_modules
client/build
client/library 
client/local
client/temp
img/node_modules