.tile-l{
    background-image: url(left.png);
    background-size: 450px 210px;
    background-repeat: no-repeat;
    width: 50px;
    height: 42px;
    max-width: 100%;
}	
.tile-l-l-1t {
    background-position: -0px -0px;
    transform: rotate(180deg);
}

.tile-l-l-2t {
    background-position: -50px -0px
}

.tile-l-3t {
    background-position: -100px -0px
}

.tile-l-4t {
    background-position: -150px -0px
}

.tile-l-5t {
    background-position: -200px -0px
}

.tile-l-6t {
    background-position: -250px -0px
}

.tile-l-7t {
    background-position: -300px -0px
}

.tile-l-8t {
    background-position: -350px -0px
}

.tile-l-9t {
    background-position: -400px -0px
}

.tile-l-1b {
    background-position: -0px -42px
}

.tile-l-2b {
    background-position: -50px -42px
}

.tile-l-3b {
    background-position: -100px -42px
}

.tile-l-4b {
    background-position: -150px -42px
}

.tile-l-5b {
    background-position: -200px -42px
}

.tile-l-6b {
    background-position: -250px -42px
}

.tile-l-7b {
    background-position: -300px -42px
}

.tile-l-8b {
    background-position: -350px -42px
}

.tile-l-9b {
    background-position: -400px -42px
}

.tile-l-1w {
    background-position: -0px -84px
}

.tile-l-2w {
    background-position: -50px -84px
}

.tile-l-3w {
    background-position: -100px -84px
}

.tile-l-4w {
    background-position: -150px -84px
}

.tile-l-5w {
    background-position: -200px -84px
}

.tile-l-6w {
    background-position: -250px -84px
}

.tile-l-7w {
    background-position: -300px -84px
}

.tile-l-8w {
    background-position: -350px -84px
}

.tile-l-9w {
    background-position: -400px -84px
}

.tile-l-east {
background-position: -0px -126px
}

.tile-l-west {
background-position: -50px -126px
}

.tile-l-south {
background-position: -100px -126px
}

.tile-l-north {
background-position: -150px -126px
}

.tile-l-zhong {
background-position: -200px -126px
}

.tile-l-fa {
background-position: -250px -126px
}

.tile-l-bai {
background-position: -300px -126px
}

.tile-l-spring {
background-position: -0px -168px
}

.tile-l-summer {
background-position: -50px -168px
}

.tile-l-fall {
background-position: -100px -168px
}

.tile-l-winter {
background-position: -150px -168px
}

.tile-l-mei {
background-position: -200px -168px
}

.tile-l-lan {
background-position: -250px -168px
}

.tile-l-zhu {
background-position: -300px -168px
}

.tile-l-ju {
background-position: -350px -168px
}

